:root{
  --color-text-gray:#495057b3;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gray-text{
  color: var(--color-text-gray);
}

.App{
  background-color: rgb(206, 222, 252);
  min-height: 100vh;
}
.navbar{
  background-color: black;

}
.header{
  color: white;
}
.current-city{
  color: white;
  margin-left: 20px;
  margin-top: 9px;
}
.flex-horizontal{
display: flex;
align-items: center;
}
.flex-vertical{
  display: flex;
  flex-direction: column;
}
.align-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.space-evenly{
  justify-content: space-evenly;
}
.space-btwn{
  justify-content: space-between;
}
.space-around{
  justify-content: space-around;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.header{
  font-size:xx-large;
  padding-inline: 5px;
}
.margin-auto{
  margin: auto;
}
.mh1{
  margin-inline: 1px;
}
.mh2{
  margin-inline: 2px;
}
.mh3{
  margin-inline: 3px;
}
.mh4{
  margin-inline: 4px;
}
.mh5{
  margin-inline: 5px;
}
.mh9{
  margin-inline: 9px;
}
.mt10{
  margin-top: 10px;
}
.mt20{
  margin-top: 20px;
}
.mt30{
  margin-top: 30px;
}
.mt40{
  margin-top: 40px;
}
.borderline{
  border: 1px solid rgb(179, 178, 178);
  width: 80%;
  margin: auto;
  margin-top: 10px;
}
.borderlinefull{
  border: 1px solid rgb(179, 178, 178);
  width: 100%;
 
}

/* Styles for SearchBar */
.inner-search{
  height: 30px;
    width: 100%;
    
    
}
.outer-search{
  width:35vw;
  
  border-radius: 40px;
    background-color:white;
    margin-left: 40px;
    margin-block: 10px;
     
}
.city-search{
  width: 60%;
}

.search-input{
  border: none;
  border-right: 1px solid rgb(84, 84, 84);
 width: 100%;
  
}
.search-input:focus {
  outline: none; 
  border: none;  
}
.favorite-city-outer{
  width: 40%;
}
.favorite-city-inner{
justify-content: space-between;
}

.favorite-city-dropdown{
  width: 100%;
  margin-top: 1rem;
  background-color: white;
 border-radius: 10px;
 
}
.favorite-city-dropdown-item{
  font-size: medium;
  font-weight: 500;
  padding: 2px 2px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid black;
}
.favorite-city-dropdown-item p{
  width: 80%;
}
.favorite-city-dropdown-item p:hover{
cursor: pointer;
}
.favorite-city-dropdown-item button:hover{
cursor: pointer;
}
li{
  list-style: none;
}
.city-search-dropdown{
  width: 100%;
  margin-top: 1rem;
  background-color: white;
 border-radius: 10px;
 top: 100%;
 /* visibility: hidden; */
}
.city-search-dropdown-item{
  font-size: medium;
  font-weight: 500;
  padding: 4px 2px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid gray;
  
}
.current-location-row{
  font-size: medium;
  font-weight: 500;
  
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 2px solid red;
}
.city-search-dropdown-item:hover{
  cursor: pointer;
}
.buttons{
  margin-left: 30px;
  gap: 20px;
}
.btn{
  width: 90px;
  font-size: small;
  padding: 3px 3px;
  border-radius: 40px;
  border: none;
  background-color: white;
  color: var(--color-text-gray);
}
.btn:hover{
  cursor: pointer;
}

/* Styling for Body part */
.column{
  width: 30vw;
  height: 350px;
  margin-top: 100px;
  
  border-radius: 10px;
  
}
.mainbox{ 
  width: 100vw;
 
}
.weatherbox{
  display: flex;
  align-items: center;
  gap: 40px;
  margin: auto;
  width: 70vw;
  
}
.first-column{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.box1{
  height:48%;
  
  background-color: white;
  border-radius: 10px;
}
.box2{
  height: 48%;
 
  background-color: white;
  border-radius: 10px;
}
.box3{ 
  background-color: white;
  display: flex;
  flex-direction: column;
}
.city-name-fb{
  margin-inline-start: 10%;
  }
.today-fb{
  margin-inline-end: 10%;
}
.box2-row{
  padding: 9px 0 3px;
}
.description{
  margin-top: 3px;
  margin-left: 70px;
}
/* Box 3 */

.box3-rows-container{
  display: flex;
  flex-direction: column;
  flex: 1; /* Take the remaining space */
}
.box3-heading{
  height: 30px;
}
.box3-row{
  border-bottom: 1px solid rgb(177, 173, 173);
 height: 20%;
}
